//id for other elements
#animation-active-1{
    opacity: 0;
    transform: translate(-450px, 0);
}
#animation-active-2{
    opacity: 0;
    transform: translate(0, -40px);
}
#animation-active-3{
    opacity: 0;
    transform: translate(-50px, 0);
}
#animation-active-4{
    opacity: 0;
    transform: translate(80px, 0);
}
#animation-active-5{
    opacity: 0;
    transform: translate(420px, 0);
}
#animation-active-6{
    opacity: 0;
    transform: translate(0, -70px);
}
#animation-active-7{
    opacity: 0;
    transform: translate(-70px, 10px);
}
#animation-active-8{
    opacity: 0;
    transform: translate(0px, 50px);
}
#animation-active-9{
    opacity: 0;
    transform: translate(70px, 10px);
}
#animation-active-10{
    opacity: 0;
    transform: translate(0, 60px);
}
#animation-active-11{
    opacity: 0;
    transform: translate(-220px);
}
#animation-active-12{
    opacity: 0;
    transform: translate(220px);
}
#animation-active-13{
    opacity: 0;
    transform: translate(-50px, 20px);
}
#animation-active-14{
    opacity: 0;
    transform: translate(0, 80px);
}
#animation-active-15{
    opacity: 0;
    transform: translate(50px, 20px);
}
#animation-active-17{
    opacity: 0;
    transform: translate(0, -20px);
}
#animation-active-18{
    opacity: 0;
    transform: translate(0, 50px);
}
#animation-active-19{
    opacity: 0;
    transform: translate(0, 120px);
}
#animation-active-20{
    opacity: 0;
    transform: translate(0, 50px);
}
#animation-active-21{
    opacity: 0;
    transform: translate(0, 70px);
}
#animation-active-22{
    opacity: 0;
    transform: translate(0, 90px);
}
#animation-active-23{
    opacity: 0;
    transform: translate(0, 30px);
}
#animation-active-24{
    opacity: 0;
    transform: translate(-50px, -25px);
}
#animation-active-25{
    opacity: 0;
    transform: translate(50px, 25px);
}
//classes for slider buttons animations, for footer wrapper and for menu
.animation-active-16{
    opacity: 0;
}
.animation-active-17{
    opacity: 0;
    transform: translate(0, 200px);
}
//classes for sliders
.not-active-1{
    visibility: hidden !important;
    opacity: 0 !important;
    width: 0 !important;
    min-height: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
}
.default{
    transform: translate(0, 0);
    transition: 0.6s;
}
//classes for deactivate animation for all elements
.not-active{
    display: none;
}
.animation-not-active-1{
    opacity: 1 !important;
    transform: translate(0, 0) !important;
    transition: all ease 1.5s !important;
}
.animation-not-active-2{
    opacity: 1 !important;
    transform: translate(0, 0) !important;
    transition: all ease 1s !important;
}
.animation-not-active-3{
    opacity: 1 !important;
    transition: all ease 1.2s !important;
}